/* https://github.com/professor-varela/3TRI-IA23 */

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

html{
    --width-main-menu: 20rem;
    --width-main-nav: 4rem;
    background-color: black;
    color: white;
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh
}

/* ---------------------- */

.icon {
    transition-duration: 0.5s;
    position: absolute;
    height: 3px;
    width: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
}

.icon.active {
    transition: .3s ease-in-out;
    background: transparent;
}

.menu-button {
    display: grid;
    place-items: center;
    position: fixed;
    top: 1rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    /* background: #c5cdd0; */
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
    z-index: 4;
    border: none;
}

.menu-button::before,
.menu-button::after {
    content: '';
    position: absolute;
    padding: auto;
    top: 50%;
    left: 50%;
    width: 1.8rem;
    height: 0.2rem;
    background: #ffffff;
    border-radius: 0.2rem;
    transition: all 0.3s ease-in-out;
}

.menu-button::before {
    margin-top: -0.6rem;
    transform: translate(-50%, -50%) rotate(180deg);
}

.menu-button::after {
    margin-top: 0.6rem;
    transform: translate(-50%, -50%) rotate(180deg);
}

.menu-button.active::before {
    margin-top: 0.1rem;
    transform: translate(-50%, -50%) rotate(45deg);
}

.menu-button.active::after {
    margin-top: 0.1rem;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.menu-button.active{
    transition: 0.3s;
    background-color: #c5cdd0;
}

/* ------------------------------- */

nav.menu {
    position: fixed;
    background-color: rgba(0 0 0 / .5);
    width: var(--width-main-menu);
    right: 0;
    top: 0;
    height: 100dvh;
    transition: .3s;
    transform: translateX(100%);
    backdrop-filter: blur(2.5px);
    overflow: auto;
    z-index: 3;
}

nav.menu a {
    display: block;
    background-color: rgba(255 255 255 / .9);
    margin: 1rem;
    border-radius: 5px;
    padding: .5rem;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    gap: .5em;
}

nav.menu a:visited {
    color: gray;
}

nav.menu.opened {
    transform: translateX(0%);
}



nav.main-nav {
    position: fixed;
    z-index: 3;
    width: 100%;
    height: var(--width-main-nav);
    background-color: rgb(36, 36, 43);
}

/* ----------------------------------- */


header{
    height: calc(110vh - var(--width-main-nav));
    position: relative;
    top: var(--width-main-nav);
}

.imgFundo{
    position: absolute;
    height: 100%;
    right: 0;
}

.degrade{
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(transparent 40%,black);
    bottom: 0;
}

.degrade2 {
    position: absolute;
    height: 100%;
    background: linear-gradient(to left, transparent 40%, rgb(0, 0, 0));
    bottom: 0;
    right: 0;
}

.carrocel{
    position: absolute;
    height: 50%;
    width: 50%;
    top: 0;
    gap: 0;
    margin-top: 10rem;
}

.carrocel p {
}

.conteudo{
    position: absolute;
    z-index: 2;
    width: 100%;
    top: 60rem;
}
main {
    min-height: calc(100dvh - 350px);
}

footer {
    height: 150px;
    
}

/* ----------------------------------- */

dialog:modal {
    background-color: rgba(0 0 0 / .7);
    color: #FFF;
    border-radius: 10px;
    border: 5px solid black;
    padding: 2rem;
}

dialog:modal h1 {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}

dialog:modal p {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding: 1rem 0;
}

dialog:modal .action {
    display: flex;
    gap: .25rem;
    justify-content: flex-end;
}

dialog:modal button {
    color: #FFF;
    border: 2px solid;
    font-size: 1.5rem;
    padding: .5rem 1rem;
    background-color: transparent;
    position: relative;
    isolation: isolate;
    overflow: hidden;
    cursor: pointer;
}

dialog:modal button::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: red;
    z-index: -1;
    transform: translateY(100%);
    transition: transform .3s;
}

dialog:modal button:hover::before {
    transform: translateY(0%)
}

dialog:modal::backdrop {
    background: rgba(0 0 0 / 0.8);
    backdrop-filter: blur(2.5px);
}

dialog {
    background-color: yellow;
}
