/* https://github.com/professor-varela/3TRI-IA23 */

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

html {
    --width-main-menu: 20rem;
    --width-main-nav: 4rem;
    --width-moverCarrocel: 4rem;
    background-color: black;
    color: white;
}

* {
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

html,
body {
    margin: 0;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh
}

/* ---------------------- */

.icon {
    transition-duration: 0.5s;
    position: absolute;
    height: 3px;
    width: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
}

.icon.active {
    transition: .3s ease-in-out;
    background: transparent;
}

.menu-button {
    display: grid;
    place-items: center;
    position: fixed;
    top: 1rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    /* background: #c5cdd0; */
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
    z-index: 4;
    border: none;
}

.menu-button::before,
.menu-button::after {
    content: '';
    position: absolute;
    padding: auto;
    top: 50%;
    left: 50%;
    width: 1.8rem;
    height: 0.2rem;
    background: #ffffff;
    border-radius: 0.2rem;
    transition: all 0.3s ease-in-out;
}

.menu-button::before {
    margin-top: -0.6rem;
    transform: translate(-50%, -50%) rotate(180deg);
}

.menu-button::after {
    margin-top: 0.6rem;
    transform: translate(-50%, -50%) rotate(180deg);
}

.menu-button.active::before {
    margin-top: 0.1rem;
    transform: translate(-50%, -50%) rotate(45deg);
}

.menu-button.active::after {
    margin-top: 0.1rem;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.menu-button.active {
    transition: 0.3s;
    background-color: #c5cdd0;
}

/* ------------------------------- */

nav.menu {
    position: fixed;
    background-color: rgba(0 0 0 / .5);
    width: var(--width-main-menu);
    right: 0;
    top: 0;
    height: 100dvh;
    transition: .3s;
    transform: translateX(100%);
    backdrop-filter: blur(2.5px);
    overflow: auto;
    z-index: 3;
}

nav.menu a {
    display: block;
    background-color: rgba(255 255 255 / .9);
    margin: 1rem;
    border-radius: 5px;
    padding: .5rem;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    gap: .5em;
}

nav.menu a:visited {
    color: gray;
}

nav.menu.opened {
    transform: translateX(0%);
}



nav.main-nav {
    position: fixed;
    z-index: 3;
    width: 100%;
    height: var(--width-main-nav);
    background-color: rgb(36, 36, 43);
}

/* ----------------------------------- */


header {
    height: 100vh;
    position: relative;
    top: var(--width-main-nav);
}

.imgFundo {
    position: absolute;
    height: 100%;
    right: 0;
}

.degrade {
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(transparent 40%, black);
    bottom: 0;
}

.degrade2 {
    position: absolute;
    height: 100%;
    background: linear-gradient(to left, transparent 40%, rgb(0, 0, 0));
    bottom: 0;
    right: 0;
}

.carrocel {
    font-family: 'Noto Sans', sans-serif;
    position: absolute;
    height: 50%;
    width: 25rem;
    top: 0;
    gap: 0;
    margin-top: 3rem;
    margin-left: 3rem;
}

.imgLogo {
    height: 8rem;
}

.imgLogo>img {
    height: 100%;
}

.carrocel p {
    font-size: 15px;
    letter-spacing: 0.5px;
    line-height: 28px;
    height: 10rem;
}

.indicadores {
    display: flex;
    gap: 1rem;
    width: 100%;
    height: 8rem;
    align-items: center;
}

.indicador {
    width: 2rem;
    height: 1rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 100px;
    cursor: pointer;
    transition: 0.3s;
}

.indicador.ativo {
    background-color: rgb(255, 115, 0);
    width: 5rem;
    transition: 0.3s;
}

.assistir {
    background-color: rgb(255, 115, 0);
    width: 15rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: bold;
    gap: 5px;
    margin-top: 1.5rem;
}

.assistir>.play {
    font-size: 25px;
}

.transicao {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease-in-out;
    pointer-events: none;
    /* Permite clicar nos elementos por baixo da transição */
}

.transicao.darken {
    background: rgb(0, 0, 0);
}

/* -------------------- */

.conteudo {
    position: absolute;
    z-index: 2;
    width: 100%;
    top: 95vh;
}

section {
    height: 26rem;
    width: 100%;
    position: relative;
    z-index: 2;
}

.carrocelThumb {
    display: flex;
    gap: 15px;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

.carrocelThumb>:nth-child(1) {
    margin-left: 4rem;
}

.proximo,
.anterior {
    height: 95%;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 3;
    cursor: pointer;
    bottom: 0;
    transition: 0.1s;
}

.proximo>span,
.anterior>span {
    font-size: var(--width-moverCarrocel);
    margin-bottom: 2rem;
    background: rgba(255, 255, 255, 1.0);
}

.proximo>span{
    background: radial-gradient(at right center, rgb(0, 0, 0), transparent);
}

.anterior>span{
    background: radial-gradient(at left center, rgb(0, 0, 0), transparent);
}

.proximo:hover>span,
.anterior:hover>span {
    color: rgb(255, 115, 0);
    /* transform: scale(130%); */
    transition: 0.1s;
}

.proximo {
    right: 0;
}

.anterior {
    left: 0;
}

.caixa {
    position: relative;
    height: 100%;
    width: 17vw;
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.caixa:hover .janela {
    visibility: visible;
    opacity: 1;
    transition: 0.2s;
}

.itens {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
}

.nome {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
}

.imgAnime {
    width: 100%;
    height: 90%;
}

.janela {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    /* background: url("assets/img/deathNote.webp") no-repeat; */
    background: blue;
}

main {
    min-height: calc(100dvh - 350px);
}

footer {
    height: 150px;

}

/* ----------------------------------- */

dialog {
    position: fixed;
    width: 70vw;
    height: 80vh;
    background: rgb(36, 36, 39);
    border: none;
}

.fechar {
    right: 1rem;
    top: 1rem;
    position: absolute;
    color: white;
    cursor: pointer;
    transition: 0.1s;
}

.fechar:hover {
    color: rgb(255, 115, 0);
    transform: scale(130%);
    transition: 0.1s;
}